@media (prefers-color-scheme: dark) {
  html {
    filter: invert(100%) hue-rotate(180deg);
  }
}

.content svg {
  display: block;
  margin: 2em auto;
  width: 80%;
}

a.logo img {
  width: 2.5em;
  margin-top: .5em;
}

#archiveBtn {
  font-size: 0;
}
#archiveBtn:after {
  font-size: 1.2rem;
  content: "Back"
}
.post__contact p {
  line-height: 1.5em;
}
.post__wrapper .post__meta time:after, .post__wrapper .post__meta span:after {
  content: " | ";
  padding: 0 .5em;
}

div.tldr {
  display: none;
}
.popover {
  max-width: calc( var(--content-width) - 4em) 
}
.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::after, .bs-popover-bottom>.popover-arrow::after {
  border-bottom-color: var(--bs-popover-header-bg);
}

body {
  --bs-heading-color: var(--dark);
}
a {
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .post__wrapper, .post__archive {
    margin-top: 6em;
  }
}
